<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
    <%- include('partials/Bootstrap.ejs') %>  
</head>
<body>
    <%- include('partials/Navbar.ejs') %>  

<div class="container">
    <form action="/new-post" method="post">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="title" id="floatingInput" >
            <label for="floatingInput">Titre du poste</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="author" id="floatingInput" >
            <label for="floatingInput">Auteur</label>
          </div>
          
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" name="description" style="height: 100px" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Comments</label>
              </div>
              <br>
              <div class="d-grip gap-2">
              <input type="submit" class="btn btn-success" value="Creer un Poste">
            </div>
    </form>
    </div>
</body>
</html>